@font-face {
  font-family: "CerebriSansPro";
  src: url("../../fonts/CerebriSansPro-Medium.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "CerebriSansPro";
  src: url("../../fonts/CerebriSansPro-Bold.ttf");
  font-weight: bold;
}