@import "../settings/color.scss";

.nav__item {
  transition:ease-out 0.3s;
  width: 70px;
  height: 70px;

  img{
    width: 26px;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;
  background-color: white;
}

 .nav__item:hover{
  transition:ease-out 0.3s;
  background-color: $color-accent;
  img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(306deg)
      brightness(106%) contrast(101%);
  }
 }